<!doctype html>
<html class="screen-main">
  <head>
    <base href="/" />
    <script>
      var SHUFFLE_DOMAIN = "https://shuffle.dev/";
    </script>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Page title</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" id="bs-base-fonts" />
    <link
      rel="stylesheet"
      href="https://shuffle.dev/vendor/tailwind-uinel/css/tailwind.min.css"
      id="bs-base-css" />
    <style type="text/css" id="bs-recompiled-css"></style>
    <style type="text/css" id="bs-custom-css"></style>
    <link
      rel="stylesheet"
      href="https://shuffle.dev/vendor/icons/css/fontello.css?v=h10c" />
    <link
      rel="stylesheet"
      href="https://shuffle.dev/vendor/shuffle/fonts/font.css?v=da25" />
    <link
      href="https://shuffle.dev/static/build/css/shuffle-preview.5bc2867d.css"
      rel="stylesheet" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://shuffle.dev/vendor/shuffle/favicon/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://shuffle.dev/vendor/shuffle/favicon/favicon-16x16.png" />
    <script src="https://shuffle.dev/vendor/tailwind-uinel/js/main.js"></script>
  </head>
  <body id="page" class="antialiased font-body bg-body text-body">
    <div class="" id="content"></div>

    <div id="bs-drop-here">Place for a component</div>

    <div id="bs-add-first-element" class="bs-font bs-d-none">
      <div>
        <p class="bs--not-dragging bs-title">
          <img
            src="https://shuffle.dev/vendor/shuffle/img/icons/large-left-arrow.svg"
            alt=""
            class="bs-arrow-icon" />
          <video
            poster="https://shuffle.dev/static/drag-drop.jpg"
            muted=""
            playsinline=""
            autoplay=""
            loop=""
            src="https://shuffle.dev/static/drag-drop.mp4"
            class="bs-video"></video>
          Create a professional looking website.
        </p>
        <p class="bs--not-dragging bs-subtitle">
          Save time like other Shuffle users who are creating 8,000+ beautiful
          templates every&nbsp;week.
        </p>
        <p class="bs--not-dragging bs-tip">
          <span class="bs-flex">
            <img
              src="https://shuffle.dev/vendor/shuffle/img/icons/info-circle.svg"
              alt="" />
            <a href="/pricing" class="bs-link unlock-all-items"
              >Create&nbsp;an&nbsp;account</a
            >&nbsp;to unlock all features and save projects for later.
          </span>
        </p>
        <p class="bs--dragging bs-title bs-spaced">Drop it here! :)</p>
      </div>
    </div>

    <div id="bs-component">
      <div id="bs-component__buttons">
        <div id="bs-component__buttons--one">
          <button id="bs-component__buttons--cog" title="Settings">
            <img
              src="https://shuffle.dev/static/img/editor/cog.svg"
              alt=""
              class="bs-icon" />
          </button>
        </div>
        <div id="bs-component__buttons--list">
          <div class="bs-component__buttons--edit">
            <button id="bs-component__select-wrapper" title="Select container">
              <span>Container</span><i class="icon-resize-vertical"></i>
            </button>
          </div>

          <div id="bs-component__buttons--components">
            <span class="bs-custom-component__info">
              <img
                src="https://shuffle.dev/static/img/editor/component.svg"
                alt=""
                class="bs-icon" />
              Custom Component
            </span>
            <button id="bs-component__prev" title="Previous component">
              <img
                src="https://shuffle.dev/static/img/editor/arrow-circle-left.svg"
                alt=""
                class="bs-icon" />
            </button>
            <button id="bs-component__shuffle" title="Shuffle">
              <img
                src="https://shuffle.dev/static/img/editor/shuffle.svg"
                alt=""
                class="bs-icon" />
            </button>
            <button id="bs-component__next" title="Next component">
              <img
                src="https://shuffle.dev/static/img/editor/arrow-circle-right.svg"
                alt=""
                class="bs-icon" />
            </button>
          </div>

          <div
            class="bs-component__buttons--edit bs-component__buttons--draggable">
            <button id="bs-component__draggable" title="Toggle draggable">
              <div class="bs-icon-wrapper">
                <img
                  src="https://shuffle.dev/static/img/editor/hand-paper-white.svg"
                  alt=""
                  class="bs-icon" />
                <img
                  src="https://shuffle.dev/static/img/editor/hand-active.svg"
                  alt=""
                  class="bs-icon bs-drag-icon-active" />
              </div>
              <span
                >Drag <span class="bs-drag-status-inactive">mode</span
                ><span class="bs-drag-status-active">ON</span></span
              >
            </button>
          </div>

          <div id="bs-component__buttons--move">
            <button id="bs-component__down" title="Move down">
              <div class="bs-icon-wrapper">
                <img
                  src="https://shuffle.dev/static/img/editor/arrow-down.svg"
                  alt=""
                  class="bs-icon" />
              </div>
              <span class="bs-mobile-only">Move down</span>
            </button>
            <button id="bs-component__up" title="Move up">
              <div class="bs-icon-wrapper">
                <img
                  src="https://shuffle.dev/static/img/editor/arrow-up.svg"
                  alt=""
                  class="bs-icon" />
              </div>
              <span class="bs-mobile-only">Move up</span>
            </button>
          </div>

          <div class="bs-component__buttons--edit">
            <button id="bs-component__settings-html" title="Custom HTML">
              <div class="bs-icon-wrapper">
                <img
                  src="https://shuffle.dev/static/img/editor/html-code.svg"
                  alt=""
                  class="bs-icon" />
              </div>
              <span>HTML</span>
            </button>
          </div>
          <div class="bs-component__buttons--edit">
            <button id="bs-component__settings-link" title="Connections">
              <div class="bs-icon-wrapper">
                <img
                  src="https://shuffle.dev/static/img/editor/disconnected.svg"
                  alt=""
                  class="bs-icon" />
                <img
                  src="https://shuffle.dev/static/img/editor/connected.svg"
                  alt=""
                  class="bs-icon bs-icon-link-active" />
              </div>
              <span class="bs-mobile-only">Connect</span>
            </button>
          </div>

          <div class="bs-component__buttons--edit bs-flex">
            <div id="bs-component__buttons--confirm">
              <span>Delete?</span>
              <button id="bs-delete-yes">YES</button>
              <button id="bs-delete-no">NO</button>
            </div>
            <button id="bs-component__delete" title="Delete component">
              <div class="bs-icon-wrapper">
                <img
                  src="https://shuffle.dev/static/img/editor/trash.svg"
                  alt=""
                  class="bs-icon" />
              </div>
              <span class="bs-mobile-only">Delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://shuffle.dev/static/build/runtime.199ee6f7.js"
      defer=""></script>
    <script
      src="https://shuffle.dev/static/build/js/anchors.91039015.js"
      defer=""></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://shuffle.dev/vendor/tailwind-uinel/js/charts-demo.js"></script>
    <script
      src="https://shuffle.dev/static/build/js/inspect.c95604ea.js"
      defer=""></script>

    <script
      src="https://shuffle.dev/static/build/js/post_messages.5bd6af3b.js"
      defer=""></script>

    <script>
      window.onload = function () {
        window.postMessageEventListener("tailwind-artemis", "1.0.0");
      };
    </script>
  </body>
</html>
